*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#telalogin{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 5px 30px rgb(8, 152, 248);
}
#login{
    text-align: center;
}
#fundo{
    background-image:url("../img/fundo.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

@media screen and (max-width: 600px) {
    #telalogin{
        width: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -30%);
        box-shadow: 1px 5px 30px rgb(248, 44, 8);
    }

    #button1{
        width: 110px;
        height: 50px;
        margin: 4px;
        margin-left: 20px;

    }
    #button2{
        width:110px;
        height: 50px;
        margin: 4px;

    }
    #button3{
        width: 230px;
        height: 50px;
        margin: 5px;
        margin-left: 20px;

    }
    
}

@media screen and (max-width: 400px) {
    #telalogin{
        display: block;
        width: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -30%);
        box-shadow: 1px 5px 30px rgb(248, 8, 156);
    }
    
}